* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: black;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

body {
    background-color: var(--background);
}
.container {
    height: 100vh;
    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 1fr 1fr;
}

.cadastro {
    margin: 2.5rem 2.5rem 5.93rem 2.5rem;
    justify-content: center;
}

header figure img {
    width: 7.18rem;
    height: 1.75rem;
    margin: 6.63rem 0 0 7.87rem;
    grid-area: main;
}

main {
    width: 572px;
    height: 512px;
    margin: 194px 74px 194px 74px;

    background-color: var(--form-background);
    box-shadow: 0 0 10px #ffffff, 0 0 8px #e0810c, 0 0 8px #f0e325;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    grid-area: main;
    position: absolute;
    align-items: center;
}

main h1 img  {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

main h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--text-title);
}

.subtitulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-base);
    margin-bottom: 27px;
}

.login label {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 24px;
    color: var(--text-base);
}

form .mail {
    width: 335px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 0px 2px #FFDE88;
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
}

#mail {
    background: url("./assets/mail.svg") no-repeat left;
    background-position-x: 3%;
    padding-left: 40px;
}

.senha {
    width: 335px;
    height: 44px;
    border-radius: 4px;
    border-color: var(--text-base);
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
}

#senha {
    background: url("./assets/lock.svg") no-repeat left;
    background-position-x: 3%;
    padding-left: 40px;
}

#visibilidade{
    position: absolute;
    top: 49%;
    left: 74%;
}

.checkbox {
    color: var(--text-base);
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #868686;
    border-radius: 4px;
}

#checkbox {
    color: var(--text-base);
    font-weight: 400;
    line-height: 19px;
    font-family: 'Roboto';
    display: inline;
    margin-right: 55px;
}

main a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--primary-color);
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 334px;
    height: 51px;
    gap: 10px;
    background-color: var(--primary-color);
    border-radius: 4px;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #473404;
    margin-top: 20px;
    margin-bottom: 14px;
}

.registrar {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--primary-color);
    display: inline;
    margin-left: 40px;
}

aside figure img {
    grid-area: aside;
    width: 720px;
    height: 820px;
    position: absolute;
    left: 980px;
    background-color:var(--background);
}

footer {
    font-family: 'Poppins';
    display: grid;
    grid-area: main;
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
}

footer img {
    height: 20px;
    width: 20px;
    align-items: center;
    vertical-align: middle;
 }

@media (max-width: 780px) {


    .container {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    main {
        width: 23.43rem;
        height: 50.75rem;
        background: url(./assets/logo.svg) no-repeat;
        background-position-y: 5%;
        background-position-x: 10%;
        align-items: center;
    }

    header figure img {
        display: none;
    }

    main h1 {
        margin-top: 4.25rem;
        margin-bottom: 0.312rem;
    }

    #visibilidade{
        position: absolute;
        top: 40%;
        left: 87%;
    }

    aside figure img {
        display: none;
    }
  
    footer {
        position: relative;
        margin-top: 2rem;
    }
    
  }
